</div><!--// container_12 -->
	</div><!--//main-->
	
	<div id="footer" class="clearfix">
		<div class="container_12">
			<div class="grid_6">
				<p>Collectif CONFLUENCE - &copy; Copyright 2012<br/>Created by <a target="_blank"href="http://jeremy-online.fr" title="Jeremy Online">jeremy-online.fr</a> for <a href="http://collectif-confluence.fr">collectif-confluence.fr</a></p>
			</div><!--//grid6-->
		</div><!--//container_12-->
	</div><!--//footer-->    
</div><!--//outer-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29031629-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>