<div id="text-4" class="widget widget_text">
	<h2>Liens</h2>
	<div class="textwidget">
		<p style="float: left;margin-right: 15px;">Nos liens, partenaires...</p>
		<img src="{{ asset('bundles/collectiffront/images/liens/iep-lyon_logo.gif') }}">
	</div>
</div>