<div id="searchform">
	<form action="{{ path('collectif_front_search') }}" method="POST" class="clearfix">
		<input type="image" src="{{ asset('bundles/collectiffront/images/search_icon.gif') }}" value="Search" id="searchbutton" class="right" />
		<input type="text" value="Rechercher" name="search" id="s" />
	</form>
</div>