# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*


# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Eclipse conf
.project
.buildpath
.settings
