# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*

#web/upload/*
www/ckfinder/*
# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Eclipse conf
.project
.buildpath
.settings
