{% extends 'CollectifAdminBundle::layout.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}

<h1>Liste des domaines</h1>

<div class="header-buttons">
	<a class="btn btn-success right" href="{{ path('collectif_domaine_create') }}"><i class="icon-plus-sign icon-white"></i>Ajouter un domaine</a>
</div>

<table class="table table-hover">
	<tr>
		<th>Editer</th>
		<th>Nom</th>
		<th>Actif</th>
		<th>Supprimer</th>
	</tr>
{% for a in domaines %}
	<tr>
<td><a class="btn" href="{{ path('collectif_domaine_edit', { 'id': a.id }) }}"><i class="icon-edit"></i></a></td>
<td>{{ a.nom }}</td>
<td>
	{% if a.actif == 1 %}
		Actif
	{% else %}
		Inactif
	{% endif %}
</td>
<td><a onclick="if(!confirm('Voulez-vous vraiment supprimer ce domaine ?')) { return false };" class="btn btn-danger" href="{{ path('collectif_domaine_delete', { 'id': a.id }) }}"><i class="icon-trash icon-white"></i></a></td>
</tr>
{% else %}
	<tr><td>Aucun domaine n’a été trouvé.</td></tr>
{% endfor %}
</table>

{% endblock %}