{% extends 'CollectifAdminBundle::layout.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}
    <h1>Album creation</h1>

    {% form_theme form 'CollectifAdminBundle:Form:fields.html.twig' %}

    <form action="{{ path('album_create') }}" method="post" {{ form_enctype(form) }} novalidate class="form-horizontal">
        {{ form_widget(form) }}
        <a href="{{ path('album') }}" class="btn btn-warning">Retour</a>

        <input type="submit" class="btn btn-success" />
    </form>
{% endblock %}
