parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     confluence
    database_user:     root
    database_password: root

    mailer_transport:  smtp
    mailer_host:       smtp.collectif-confluence.fr
    mailer_user:       webmaster@collectif-confluence.fr
    mailer_password:   secret0000
    mailer_port:       587
    mailer_delivery:   webmaster@collectif-confluence.fr
    mailer_auth_mode:  login


    locale:            fr
    secret:            ThisTokenIsNowSuperSecret
