{% extends 'CollectifAdminBundle::layout.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}

<h2>Réseau CONFLUENCE</h2>

<h3>Merci pour votre contribution</h3>
<p>Le bug sera résolu dans les plus brefs délais.</p>

{% endblock %}