{% extends 'CollectifAdminBundle::layout.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}

<h1>Liste des cat&eacute;gories</h1>

<div class="header-buttons">
	<input type="button" class="btn btn-success right" onclick="window.open('{{ path('collectif_categories_create') }}', '_parent');" value="Ajouter une catégorie">
</div>

<table class="table table-hover">
	<tr>
		<th>Editer</th>
		<th>Titre</th>
		<th>Supprimer</th>
	</tr>
{% for c in categories %}
	<tr>
<td><a class="btn" href="{{ path('collectif_categories_edit', { 'id': c.id }) }}"><i class="icon-edit"></i></a></td>
<td>{{ c.titre }}</td>
<td><a onclick="if(!confirm('Voulez-vous vraiment supprimer cette catégorie ?')) { return false };" class="btn" href="{{ path('collectif_categories_delete', { 'id': c.id }) }}"><i class="icon-trash"></i></a></td>
</tr>
{% else %}
	<tr><td>Aucune catégorie n’a été trouvée.</td></tr>
{% endfor %}
</table>

{% endblock %}