{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="row" style="margin-top:30px;">
	<div class="span4 offset4 well">
		<legend>Mot de passe oublié</legend>
			<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
	</div>
</div>
{% endblock %}
