{% extends 'CollectifFrontBundle::layout_inner-page.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}
<h2>{{ titre }}</h2>
<div class="textwidget">
	<p> 
		{{ contenu }}
	</p>
</div>

{% endblock %}