{% extends 'CollectifFrontBundle::layout_inner.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}
<h2>Travaux / Publications</h2>
<div class="textwidget">
	<p> 
		{{ description | raw }}
	</p>
</div>

{% endblock %}