{% extends 'CollectifFrontBundle::layout_inner-page.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}
<h2>Résultats de la recherche : {{ arg }}</h2>
<div class="textwidget">
	<p> 
		prout
	</p>
</div>


{% endblock %}