{% extends 'CollectifAdminBundle::layout.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}

<h2>Réseau CONFLUENCE</h2>

{% if disabled|length > 0 %}
	<div class="alert alert-block">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  Il y'a {{ disabled|length }} {% if disabled|length > 1 %}membres{% else %}membre{% endif %} en attente de confirmation
	</div>
{% endif %}



<p>
	En construction...
</p>
{% endblock %}