{% extends 'CollectifAdminBundle::layout.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}

<h2>Réseau CONFLUENCE</h2>

<p>
	Bienvenue sur le Réseau CONFLUENCE.
	Texte à définir + aggrégation des flux à la FB	
</p>
{% endblock %}