{% render url('front_header') %}
<div class="clearfix">
	<div class="grid_12 promo-container">					 
		{% render url('front_menuBottom') %}
	</div><!--//grid12-->
</div><!--// clearfix-->
				
<div class="clearfix widget-area" style="width: 1070px;">
	<div class="grid_4 widget">
		<div id="text-3" class="widget widget_text">
			<h2>&Agrave; la une</h2>
			{% block content %}
         	{% endblock %}
		</div>
	</div><!--//grid4-->
	
	{% render url('front_sidebar') %}
	
</div><!--//clearfix-->
			
{% render url('front_footer') %}
		